/**
 * Main mystyle
 *
 * @author eleannybm
 * @since 1.0
 */
body{
	
}
h2{
	font-size: 4rem;
}
.header{
	height: 100px;
}
.barra{
	font-size: 1em;
}
#slyder{
	width: 100%;
	height: 500px;
}
.title{
	font-size: 2em;
	text-decoration: underline;
}
.title-products{
	background-color: #80ffff;
}
.title-services{
	background-color: #ffff80;
}
.background{
	width: 100%;
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#contact{
	width: 100%;
}
#map{
 height: 800px;
}
.footer{
	background-color: #cccccc;
}
.footer-inner{
	background-color: #ff00ff;
}